<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility, Version=27.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
      type="Thunderdome.ThunderdomeExplorerExtension, Thunderdome">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>



